@model IEnumerable<TravelPlanner.Models.ItineraryListItem>

@{
    ViewBag.Title = "Index";
}

<h2>myItinerary</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ItineraryID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Completed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityDescription)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ActivityDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ItineraryID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Completed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityDescription)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ActivityDate)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ItineraryID }) |
            @Html.ActionLink("Details", "Details", new { id = item.ItineraryID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.ItineraryID })
        </td>
    </tr>
}

</table>
