@model TravelPlanner.Data.TripDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="view-title">myTrip</h2>

<div>
    <h4>myTrip Details</h4>
    <hr />
    <dl class="dl-horizontal detail-page">
        <dt>
            @Html.DisplayNameFor(model => model.TripName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TripName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DepartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DepartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ReturnDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ReturnDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new {  id = Model.TripID  }) |
    @Html.ActionLink("Back to List", "Index")
</p>
