@model TravelPlanner.Models.TicketDetail

@{
    ViewBag.Title = "Delete";
}

<h2 class="view-title">myTickets</h2>

<h3 class="view-title">Are you sure you want to delete this?</h3>
<div>
    <h4 class="view-title">myTicket Details</h4>
    <hr />
    <dl class="dl-horizontal detail-page">
        <dt>
            @Html.DisplayNameFor(model => model.TicketID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketLink)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
