@model TravelPlanner.Models.TicketDetail

@{
    ViewBag.Title = "Details";
}

<h2 class="view-title">myTicket</h2>

<div>
    <h4 class="view-title">myTickets Details</h4>
    <hr />
    <dl class="dl-horizontal detail-page">
        <dt>
            @Html.DisplayNameFor(model => model.TicketID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketTitle)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketTitle)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketType)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TicketLink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TicketLink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TicketID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
