@model IEnumerable<TravelPlanner.Models.BudgetListItem>

@{
    ViewBag.Title = "Index";
}

<h2>myBudget</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BudgetID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BudgetTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Transportation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Lodging)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FoodCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Activities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Souvenirs)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BudgetTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Transportation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Lodging)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FoodCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Activities)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Souvenirs)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BudgetID }) |
            @Html.ActionLink("Details", "Details", new { id = item.BudgetID }) |
            @Html.ActionLink("Delete", "Delete", new { id = item.BudgetID })
        </td>
    </tr>
}

</table>
